# ==========================================
# OliveTin Configuration Template
# cp .env.example .env
# ==========================================

# Dashboard Domain & Access
OLIVETIN_DOMAIN=paas.yourdomain.com
ADMIN_IP=192.168.0.50

# Dashboard Basic Auth

# To generate a new password hash and automatically update the line below, copy and run this entire line in your terminal:
# NEW_AUTH=$(htpasswd -nB admin | sed 's/\$/\$\$/g') && sed -i "s|^OLIVETIN_AUTH=.*|OLIVETIN_AUTH=$NEW_AUTH|" .env
OLIVETIN_AUTH=admin:$$apr1$$yourgeneratedhashhere

# Software Version
OLIVETIN_VERSION=latest
